# Cordova Core Reflection Rules
-keep class org.apache.cordova.** { *; }
-keep public class * extends org.apache.cordova.CordovaPlugin
-keep public class * extends org.apache.cordova.CordovaWebViewEngine
-keep public class org.apache.cordova.engine.SystemWebViewEngine {
    public <init>(android.content.Context, org.apache.cordova.CordovaPreferences);
}

# Zoom SDK Keep Rules
-keep class com.zipow.** { *; }
-keep class us.zoom.** { *; }
-keep class com.jacksun.** { *; }
-keep class cordova.plugin.zoom.** { *; }
-keep class org.webrtc.** { *; }
-keep class us.google.protobuf.** { *; }
-keep class com.google.crypto.tink.** { *; }
-keep class androidx.security.crypto.** { *; }
-keep class androidx.** { *; }
-keep class android.support.** { *; }
-keep class com.google.** { *; }

-keepattributes *Annotation*,Signature,InnerClasses,EnclosingMethod

# Suppress Warnings or Missing Zoom SDK Optional Dependencies
-dontwarn us.zoom.**
-dontwarn com.zipow.**
-dontwarn com.google.zxing.**
-dontwarn java.awt.**
-dontwarn javax.swing.**
-dontwarn kotlinx.coroutines.swing.**
-dontwarn io.reactivex.rxjava3.schedulers.Schedulers
-dontwarn com.android.**
-dontwarn com.google.**
-dontwarn com.microsoft.**
-dontwarn javax.lang.**
-dontwarn kotlin.jvm.internal.**
-dontwarn kotlinx.parcelize.**
-dontwarn org.**
-dontwarn xcrash.**
-dontwarn kotlin.uuid.ExperimentalUuidApi
-dontwarn kotlin.uuid.Uuid$Companion
-dontwarn kotlin.uuid.Uuid

# Additional Dontwarn Rules for Missing Optional Third-Party Classes
-dontwarn coil.**
-dontwarn com.blueparrott.**
-dontwarn com.davemorrissey.**
-dontwarn com.google.android.play.core.**
-dontwarn com.google.firebase.**
-dontwarn com.scwang.smart.refresh.**
-dontwarn com.symbol.emdk.**
-dontwarn io.noties.markwon.**
-dontwarn io.noties.prism4j.**
-dontwarn org.commonmark.**
-dontwarn retrofit2.**
-dontwarn us.zoom.intunelib.**